.name {
    background: #4aaaa6;
    padding: 10px;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
}

.text {
    color: #777777;

}

.navbar {
    padding: 0;
}

body {
    background-image: url(../images/wave.jpg);
}

.section {
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    
}

#about {
    margin-bottom: 15px;
    margin-top:15px;
    color: #4aaaa6;
    border-bottom: #777777 solid 5px;
    padding-left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
}

.pic {
    margin-top: 15px;
    height: 150px;
    width: 175px;
    margin-bottom: 30px;
}

.ml-auto {
    margin-right:41%;
}

#message {
    height: 150px;
}

.but {
    background: #4aaaa6;
    border: none;
    height: 32px;
    width: 64px;

}

.pro-pic {
    height: 250px;
    width: 250px;
}

.pro-title {
    bottom: 40px;
    width: 250px;
    height: 40px;
    text-align: center;
    background: #4aaaa6;
}
.footer {
    border-top: solid 5px #4aaaa6;
    font-size: 10px;
    height: 50px;

}

@media (max-width: 1124px) {
    .pic {
        float: none;
        margin-left: 13%;
        width: 75%;
        height: 50%;
        

    }
}

